#calendar-page {
  margin: 1em 7em;

  #calendar {
    border-width:0;
    width: 100%;
    min-height:75vh;
    frameborder:0;
    scrolling: "no";
  }
}

@media only screen
and (max-width : 768px) {
  #calendar-page {
    margin: 0.5em;
  }
}
