#home-page {
  width: 100%;
  display: flex;
  -webkit-flex-direction: row;
   flex-direction: row;
   justify-content: space-around;

    .left {
      width: 37%;
      height: auto;
      padding-top: 1em;
    }

    .right {
      width: 53%;
      height: auto;
    }
}

@media only screen
and (max-width : 330px) {

  #home-page {
    .right {
      font-size: 1em;
    }
  }
}

@media only screen
and (max-width : 414px) {

  #home-page {
  width: 100%;
  display: flex;
  -webkit-flex-direction: column;
   flex-direction: column;
   justify-content: space-around;

    .left {
      width: 100%;
      height: auto;
      padding-top: 1em;
    }

    .right {
      width: 100%;
      height: auto;
      text-align: justify;
    }
  }
}

@media only screen
and (min-width : 550px)
and (max-width : 768px) {

  #home-page {
    font-size: 1.5em;
    line-height: 1.5em;
    display: block;

    .left {
      float: left;
      padding: 0;
      margin-right: 0.5em;
      width: 40%;
    }

    .right {
      width: 100%;
      text-align: justify;
    }
  }
}

@media only screen
and (min-width : 750px)
and (max-width : 1024px) {

  #home-page {
    display: block;

    .left {
      padding-top: 0;
      float: left;
      margin: 0 1.5em 0em 0;
      width: 40%;
    }

    .right {
      width: 100%;
      text-align: justify;
    }

  }
}

@media only screen
and (min-width : 1024px)
and (max-width : 1366px) {

  #home-page {
    .left {
      margin-top: 0.75em;
      width: 44%;
    }

    .right {
      width: 50%;
      text-align: justify;
    }
  }
}

@media only screen
and (min-width : 1700px) {

  #home-page {
    font-size: 1.5em;
    line-height: 1.5em;
    display: block;

    .left {
      float: left;
      margin: 0 1em 1em 0;
      width: 40%;
    }

    .right {
      width: 100%;
      text-align: justify;
    }
  }
}
