$main-color: #D0022B;
$link-color: #868986;
$secondary-background: #f2f2f2;
$secondary-background: #f2f2f2;

#sidebar {
  nav {
    font-family: Tahoma, sans-serif;
    font-size: 16px;
    font-weight: 600;
    line-height: 32px;
    z-index: 50;
    position: fixed;
    width: 40%;
    height: 100%;
    left: 0;
    top: 0;
    bottom: 0;
    background-color: $secondary-background;
    transform: translate(-100%, 0);
    transition: transform 0.3s linear;
    display: flex;
    flex-dirextion: column;
  }

  nav.active {
    transform: translate(0, 0);
  }

  ul {
    display: flex;
    flex-direction: column;
    margin: 4em 0 0 7em ;
    padding:0;
  }

  ul li {
    display: flex;
    justify-content: flex-start;
    list-style-type: none;
  }

  a {
    color: $main-color;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 450;
    transition: all 0.0625s linear;
  }

  a:hover {
    cursor:pointer;
    opacity: 0.5;
  }

  .social-links {
    margin-top: 40%;
    margin-left: 7em;
    display: flex;
    flex-dirextion: column;
    justify-content: space-around;
    position: absolute;
    background: transparent;
  }

  .icons {
    text-decoration: none;
    background: transparent;
    width: 2.5em;
    height: 2.5em;
  }
}

#header {
  left: 0px;
  top: 0px;
  z-index: 100;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  align-content: center;
  background-color: $main-color;
  width: 12em;
  height: 60px;
  position: fixed;

  input {
    margin-top: 1em;
    outline: 0;
  }

  input:hover {
    opacity: 0.9;
  }
}

  #menu {
    text-decoration: none;
    background: transparent;
    width: 2.5em;
    height: 2.5em;
  }

.home-link {
  color: white;

  h2 {
    font-family: Tahoma, sans-serif;
    width: 100%;
    font-size: 1.5rem;
  }

  h2:hover {
    opacity: 0.9;
  }
}

@media only screen and (max-width : 320px) {
  #header {
    width: 100%;
    #menu {
      margin-left: 2em;
      width: 2em;
      height: 2em;
    }
  }

  #sidebar {
    nav {
      margin-top: 1em;
      width: 100%;
      ul {
        margin: 4em 0 0 2.5em;
      }
    }
    .social-links {
      margin-left: 0em;
    }
  }
}

@media only screen and (max-width : 414px) {
  #header {
    width: 100%;
    flex-direction: row-reverse;
    justify-content: space-around;
    align-items: center;
    flex-wrap: no-wrap;
  }
}

/* Смартфоны (портретный режим) ----------- */
@media only screen
and (max-width : 768px) {

  #sidebar {
    nav {
      margin-top: 1em;
      width: 100%;

      #menu {
        margin-top: 3em;
        margin-left: 2em;
      }

      .icons {
        text-decoration: none;
        background: transparent;
        width: 1.5em;
        height: 1.5em;
      }

      .social-links {
        width: 45%;
        display: flex;
        margin-left: 1em;
        flex-dirextion: row;
        justify-content: space-between;
      }

      .icons {
        width: 3em;
      }

      ul {
        margin: 4em 0 0 2em;
      }
    }
  }

  #header {
    width: 100%;
    flex-direction: row-reverse;
    justify-content: space-between;
    align-items: center;
    flex-wrap: no-wrap;
    .menu-button {
      margin-right: 2em;
    }

    header {
      margin-left: 1.6em;
    }
  }
}

@media only screen
and (min-width : 800px)
and (max-width : 919px) {
  #sidebar {
    nav {
      width: 60%;
    }
  }
  #header {
    width: 7em;
    .home-link {
      h2 {
        font-size: 1em;
      }
    }
  }
}

@media only screen
and (min-width : 919px)
and (max-width : 1024px) {
  #header {
    width: 10em;
  }
}

@media only screen
and (min-width : 1024px)
and (max-width : 1366px) {

  h2 {
    font-size: 1.8rem;
  }

}
