<div class="ordinary-page">
  <h1>Правила поведения</h1>
  <h2>Общие правила:</h2>

  <ul>
    <li>
      Во всех помещениях собора мужчинам необходимо находиться без головных уборов, женщинам - в закрытой одежде, исключающей декольте, оголенные живот, колени и плечи.
    </li>
    <li>
      Отключайте звук ваших мобильных телефонов и других устройств! В случае необходимости разговоров по мобильному телефону просим выходить в притвор собора.
    </li>
    <li>
      Разговаривать в соборе можно не громче, чем вполголоса.
    </li>
    <li>
      Не разрешается прием пищи и напитков.
    </li>
    <li>
      Вход в собор в нетрезвом виде запрещен.
    </li>
    <li>
      Курение возможно только за оградой территории собора.
    </li>
    <li>
      Посетителям нельзя заходить в пресбитериум (возвышенная часть в конце главного нефа), где находятся Алтарь.
    </li>
    <li>
      В боковых нефах находятся деревянные сооружения — конфессионалы (исповедальни), в которых совершается таинство Исповеди. Не стоит подходить к ним близко или стоять около них долгое время.
    </li>
  </ul>


<h2>Во время Богослужения:</h2>

  <ul>
    <li>Желательно приходить на Мессу за 10-15  мин.</li>
    <li>Входя в храм, католики опускают правую руку в чашу со святой водой (находится в притворе справа и слева от входа), осеняют себя крестным знамением.</li>
    <li>
      Опоздав, помните служба уже идет, будьте внимательны,  чтобы не  помешать молитве других.
    </li>
    <li>
      Во время Богослужения нельзя вставать, ходить по храму, разговаривать, фотографировать, производить аудио- или видео съемку.
    </li>
    <li>
      Продолжительность Святой Мессы редко превышает час, поэтому желательно не покидать храм до ее завершения.
    </li>
    <li>
      Маленькие скамеечки внизу предназначены для того, чтобы на них становились на колени, поэтому желательно не опускать на них обувь.
    </li>
    <li>
      Во время сбора пожертвований к Вам, как и к любому чаловеку в храме могут подойти министранты (служащие) с корзиной для сбора пожертвований. Пожертвования являются абсолютно добровольными.
    </li>
    <li>
      Во время Причастия верующие встают и подходят к краю Пресбитериума (возвышенная часть в конце главного нефа). Подходить к Причастию может только    крещённый католик, не имеющий смертых грехов, бывший недавно на Исповеди.
    </li>
  </ul>

</div>
