<div class='regular-page'>
  <h1>Расписание богослужений</h1>

  <table class='schedule'>
    <thead>
      <tr>
        <th colSpan='2'>
          <h3>Воскресенье</h3>
        </th>
      </tr>
    </thead>
  <tbody>
    <tr>
      <td>08:30</td>
      <td>Святая Месса на польском языке</td>
    </tr>
    <tr>
      <td>10:00</td>
      <td>Святая Месса (Сумма) на русском языке.
      По первым воскресеньям месяца после Св.Мессы — поклонение Пресвятым Дарам и Евхаристическая процессия.</td>
    </tr>
    <tr>
      <td>10:30</td>
      <td>Святая Месса на латинском языке по экстраординарной форме Римского обряда (часовня в крипте)</td>
    </tr>
    <tr>
      <td>11:45</td>
      <td>Святая Месса для детей</td>
    </tr>
    <tr>
      <td>12:15</td>
      <td>Святая Месса на французском и английском языках (часовня в крипте)</td>
    </tr>
    <tr>
      <td>13:00</td>
      <td>Святая Месса на польском языке</td>
    </tr>

    <tr>
      <td>14:30</td>
      <td>Святая Месса на польском языке</td>
    </tr>
    <tr>
      <td>15:00</td>
      <td>Святая Месса на английском языке (часовня в крипте)</td>
    </tr>
    <tr>
      <td>15:30</td>
      <td>Божественная Литургия армянского обряда</td>
    </tr>
    <tr>
      <td>17:30</td>
      <td>Святая Месса на русском языке</td>
    </tr>
    <tr>
      <td>20:00</td>
      <td>Святая Месса на русском языке (часовня в крипте)</td>
    </tr>
  </tbody>
  </table>

  <table class='schedule'>
    <thead>
      <tr>
        <th colSpan='2'>
          <h4>ПОНЕДЕЛЬНИК</h4>
        </th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>08:00</td>
        <td>Святая Месса на русском языке (без проповеди)</td>
      </tr>
      <tr>
        <td>09:00</td>
        <td>Святая Месса на русском языке</td>
      </tr>
      <tr>
        <td>09:45-11:00</td>
        <td>Поклонение Пресвятым Дарам</td>
      </tr>
      <tr>
        <td>18:00</td>
        <td>Святая Месса на польском языке</td>
      </tr>
      <tr>
        <td>19:00</td>
        <td>Святая Месса на русском языке</td>
      </tr>
    </tbody>
  </table>

  <table class='schedule'>
    <thead>
      <tr>
        <th colSpan='2'>
          <h4>ВТОРНИК</h4>
        </th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>08:00</td>
        <td>Святая Месса на русском языке (без проповеди)</td>
      </tr>
      <tr>
        <td>09:00</td>
        <td>Святая Месса на русском языке</td>
      </tr>
      <tr>
        <td>09:45-11:00</td>
        <td>Поклонение Пресвятым Дарам</td>
      </tr>
      <tr>
        <td>18:00</td>
        <td>Святая Месса на польском языке</td>
      </tr>
      <tr>
        <td>19:00</td>
        <td>Святая Месса на русском языке</td>
      </tr>
      <tr>
        <td>20:00-21:00 </td>
        <td>Поклонение Пресвятым Дарам</td>
      </tr>
    </tbody>
  </table>

  <table class='schedule'>
    <thead>
      <tr>
        <th colSpan='2'>
          <h4>СРЕДА</h4>
        </th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>08:00</td>
        <td>Святая Месса на русском языке (без проповеди)</td>
      </tr>
      <tr>
        <td>09:00</td>
        <td>Святая Месса на русском языке</td>
      </tr>
      <tr>
        <td>09:45-11:00</td>
        <td>Поклонение Пресвятым Дарам</td>
      </tr>
      <tr>
        <td>18:00</td>
        <td>Святая Месса на польском языке</td>
      </tr>
      <tr>
        <td>После Св.Мессы в 18.00</td>
        <td>Новенна к Матери Божией – Помощнице Христиан.</td>
      </tr>
    </tbody>
  </table>

  <table class='schedule'>
    <thead>
      <tr>
        <th colSpan='2'>
          <h4>ЧЕТВЕРГ</h4>
        </th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>08:00</td>
        <td>Святая Месса на русском языке (без проповеди)</td>
      </tr>
      <tr>
        <td>09:00</td>
        <td>Святая Месса на русском языке</td>
      </tr>
      <tr>
        <td>09:45-17:45</td>
        <td>Поклонение Пресвятым Дарам</td>
      </tr>
      <tr>
        <td>18:00</td>
        <td>Святая Месса на польском языке</td>
      </tr>
      <tr>
        <td>19:00</td>
        <td>Святая Месса на русском языке</td>
      </tr>
    </tbody>
  </table>

  <table class='schedule'>
    <thead>
      <tr>
        <th colSpan='2'>
          <h4>ПЯТНИЦА</h4>
        </th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>08:00</td>
        <td>Святая Месса на русском языке (без проповеди)</td>
      </tr>
      <tr>
        <td>09:00</td>
        <td>Святая Месса на русском языке</td>
      </tr>
      <tr>
        <td>09:45-11:00</td>
        <td>Поклонение Пресвятым Дарам</td>
      </tr>
      <tr>
        <td>13:00</td>
        <td>Божественная Литургия армянского обряда</td>
      </tr>
      <tr>
        <td>18:00</td>
        <td>Вечерня и поклонение Пресвятым Дарам</td>
      </tr>
      <tr>
        <td>19:00</td>
        <td>Святая Месса на русском языке</td>
      </tr>
    </tbody>
  </table>

  <table class='schedule'>
    <thead>
      <tr>
        <th colSpan='2'>
          <h4>СУББОТА</h4>
        </th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>08:00</td>
        <td>Святая Месса на русском языке (без проповеди)</td>
      </tr>
      <tr>
        <td>09:00</td>
        <td>Святая Месса на русском языке</td>
      </tr>
      <tr>
        <td>09:45-11:00</td>
        <td>Поклонение Пресвятым Дарам</td>
      </tr>
      <tr>
        <td>17:30</td>
        <td>Святая Месса (воскресная) на латинском языке</td>
      </tr>
      <tr>
        <td>19:00</td>
        <td> Святая Месса (воскресная) на русском языке</td>
      </tr>
    </tbody>
  </table>


    <h3>БОГОСЛУЖЕНИЯ ДЛЯ КАТОЛИКОВ ВИЗАНТИЙСКОГО ОБРЯДА</h3>
    <p>Богослужения совершаются каждую третью субботу месяца
    и ближние к этому дню пятницу и воскресение</p>


  <table class='schedule'>
    <thead>
      <tr>
        <th colSpan='2'>
          <h4>ПЯТНИЦА</h4>
        </th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>18:00 </td>
        <td>Чтение розария</td>
      </tr>
      <tr>
        <td>19:00</td>
        <td>Литургия</td>
      </tr>
    </tbody>
  </table>

  <table class='schedule'>
    <thead>
      <tr>
        <th colSpan='2'>
          <h4>СУББОТА</h4>
        </th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>07:30</td>
        <td>Утреня</td>
      </tr>
      <tr>
        <td>09:00</td>
        <td>Литургия</td>
      </tr>
    </tbody>
  </table>

  <table class='schedule'>
    <thead>
      <tr>
        <th colSpan='2'>
          <h3>ВОСКРЕСЕНЬЕ</h3>
        </th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>08:00</td>
        <td>Литургия</td>
      </tr>
    </tbody>
  </table>


  <p>По всем вопросам, связанным с проведением богослужений и
    отправлением треб, обращайтесь
    по телефону <a href='tel:+7-903-203-03-66'>+7 903 203-03-66</a>, &nbsp; почте &nbsp;
    <a href='mailto:konstshev@gmail.com'>konstshev@gmail.com</a>, или в скайп uniat1973.
  </p>

  <h3>БОГОСЛУЖЕНИЯ ДЛЯ КАТОЛИКОВ
    АРМЯНСКОГО ОБРЯДА
  </h3>
  <p>Справки по тел.:<a href='tel:+7-926-904-91-49'> +7 926   904-91-49</a> о. Петрос Петросян SDB.
  </p>
  <p>Божественная Литургия армянского обряда проходит
    каждое <strong style={{color:'#d0021b'}}>воскресенье</strong> в <time>15:30</time> и по пятницам в <time>13:00</time>.
  </p>

  <h3>БОГОСЛУЖЕНИЯ НА ИСПАНСКОМ ЯЗЫКЕ</h3>
  <p>Справки по тел.:<a href='tel:+7-499-252-66-88'>+7 499 252-66-88</a> о. Даниэле Солаццо FMVD.</p>
  <p><strong style={{color:'#d0021b'}}>Воскресенье</strong> в <time>14:30</time> Месса на испанском языке <time>13:00</time>.
  </p>

</div>
