@import "./styles/ordinary_page.scss";
@import "./styles/schedule.scss";
@import "./styles/calendar.scss";
@import "./styles/navigation.scss";
@import "./styles/contacts/contacts.scss";

$main-color: #D0022B;
$link-color: #868986;
$secondary-background: #f2f2f2;
$footer-color: #fcfcfc;

/*-----MAIN-------------*/
html, body {
  height: 100%;
  font-family: 'PT Serif', serif;
  font-size: 20px;
  line-height: 1.5em;
}

button:hover {
  cursor: pointer;
}

a {
  text-decoration: none;
  color: $link-color;
}

/*-----TYPOGRAPHY-------*/

h1 {
  text-transform: uppercase;
  // font-family: Tahoma, sans-serif;
  margin: 0;
  font-size: 1.5em;
  line-height: 1.2em;
  white-space: nowrap;
  color: $main-color;
}

h2 {
  text-align: center;
  font-size: 1.4em;
  line-height: 1.5em;
}

/*-----CONTENT----------*/

.content {
  min-height: 100%;
  margin: 0em 5em 5em 5em;

  h1 {
    text-align: center;
  }

  img {
    max-width:100%;
  }

  a {
    color: $main-color;
  }

  a:hover {
    opacity: 0.6;
  }
}


/*-----MEDIA------------*/

/* smartphones, portrait iPhone, portrait 480x320 phones (Android) */
//@media (min-width:320px)  {  }

/* smartphones, Android phones, landscape iPhone */
//@media (min-width:480px)  {  }

/* portrait tablets, portrait iPad, e-readers (Nook/Kindle), landscape 800x480 phones (Android) */
//@media (min-width:600px)  {  }

/* tablet, landscape iPad, lo-res laptops ands desktops */
//@media (min-width:801px)  {  }

/* tablet, landscape iPad, lo-res laptops ands desktops */
//@media (min-width:1025px) { /* big landscape tablets, laptops, and desktops */ }

/* hi-res laptops and desktops */
//@media (min-width:1281px) {  }

@media only screen and (max-width : 320px) {
  h1 {
    font-size: 0.7em;
  }

  h2 {
    font-size: 0.8em;
  }

  p, ul {
    font-size: 0.8em;
  }

  li {
    margin: 0;

  }

  .content {
    margin: 3.5em 0.5em  0.5em 0.5em;
  }
}

@media only screen
and (min-width : 321px)
and (max-width : 414px) {
  h1 {
    font-size: 1em;
  }
  .content {
    margin: 3.5em 0em  0em 0em;
  }

}

@media only screen
and (min-width : 550px)
and (max-width : 768px) {
  .content {
    margin: 3em 0;
    h1 {
      font-size: 1.2em;
    }
    p {
      font-size: 0.8em;
      line-height: 1.4em;
    }
  }

}

/* Смартфоны (портретный режим) ----------- */
@media only screen
and (min-width : 760px)
and (max-width : 768px) {

  h1 {
    font-size: 17px;
    line-height: 24px;
  }

  .content {
    margin-top: 4.5em;

    .text-section {
      margin-bottom: 1em;
    }
  }
}

/* Планшеты (портретный и альбомный режимы) ----------- */
@media only screen
and (min-width : 769px)
and (max-width : 1024px) {

  .content {
    min-height: 80vh;
    margin-top: 0em;

    h1 {
      font-size: 1.2em;
    }

    h2 {
      font-size: 1.1em;
    }

    font-size: 0.8em;

  }
}

@media only screen
and (min-width : 800px)
and (max-width : 919px) {
  font-size: 0.8em;
  .content {
    h1 {
      font-size: 1.5em;
    }
    h2 {
      font-size: 1.3em;
    }
  }
}

@media only screen
and (min-width : 960px)
and (max-width : 1366px) {

  h1 {
    font-size: 1.8em;
  }

  // html, body {
  //   font-size: 1.05em;
  // }

  .content {
    padding-top: 0;
    min-height: 80vh;
  }
}

/* Большие экраны ----------- */
@media only screen
and (min-width : 1367px) {

  font-size: 1.5em;
  line-height: 2em;

  h1 {
    text-align: center;
  }

  img {
    max-width:100%;
  }

  .content {
    padding: 0em 16em 5em 16em;
    min-height: 80vh;
    h1 {
      text-align: center;
      line-height: 1.5em;

      .page-header-message {
        color: $main-color;
        padding-top: 2.5em;
        text-align: center;
        font-weight: bold;
      }
    }
  }
}

@media only screen
and (min-width : 1700px) {

  .content {
    margin: 0 2em;

    .text-section {
      margin-bottom: 4em;
    }

  }
}
